body, main, section, header, footer, h1, h2, h3, h4, p, ul, li {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4 {
  margin-bottom:20px;
}

section {
  padding:20px;
}


body {
  background-color: #B0C858;
}

header {
  padding: 8px;
}

p {
  margin-bottom: 20px;
}

main img {
  width: 50px;
  height: auto;
}

#logo {
  background-image: url('../img/logo-200px.png');
  display: block;
  width: 130px;
  height: 30px;
  background-size: cover;
}

*{
    font-family: Arial;

}

#principal{
  background-color: #FF9F79;
}

#verReclamos{
  background-color: #C07651;
  margin: 10px;
}

#estadisticas{
  background-color: #C39C51 ;
  margin: 10px;
}

#agregarReclamo{  
  background-color: #C39C51 ;
}

#agregarEmpresa{
  background-color: #99F997;
  margin: 10px;
}

nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  color: green;
}

.searchForm {
  margin-left: auto;
}

.searchForm form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm input {
  padding: 2px;
  border: 1px solid #ccc;
}

.searchForm button {
  margin-left:5px;
}

.searchForm .search {
  background-image: url('../img/lupa.png');
  background-color: transparent;
  display: block;
  width: 14px;
  align-content: center;
  height: 12px;
  background-size: 22px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  text-align: left;
}

.estudiante {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom:10px;
}

.estudiante span {
  margin-left: 10px;
}

.botonDegrade {
  padding: 12px 20px;
  border-color: #000000;
  color: #000000;
  font-size: 22px;
  cursor: pointer;
  border-radius: 17px;
  background-image: linear-gradient( #B1C255, #BF7F4F);
  display: block;
  margin-left: auto;
  margin-right: auto;
}